
<%= form_for recipe do |f| %>
  <div class="form_section">
    <%= f.label "食譜名稱", class:"form-label form_title" %>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form_section" data-controller="form" >
    <%= f.label "圖片", class:"form-label form_title" %>
      <div class="upload_section">
        <label>
          <% if recipe.image? %>
            <%= image_tag recipe.image.thumb.url, class: "recipe_img"%>
          <% else %>
            <%= image_tag "cat.png", class: "default_image", "data-target" => "form.recipe_img" %>
          <% end %>
          <%= f.file_field :image, class: "d-none", "data-target" => "form.img_input", "data-action" => "change->form#upload_preview" %>
        </label>
      </div>
  </div>
  <div class="form_section">
    <%= f.label "簡介", class:"form-label form_title" %>
    <%= f.text_area :description, class: "form-control", rows: "3" %>
  </div>
  <div class="form_section">
    <%= f.label "所需時間", class:"form-label form_title" %>
    <%= f.text_field :time, class: "form-control" %>
  </div>
  <div class="form_section">
    <%= f.label "份量", class:"form-label form_title" %>
    <%= f.text_field :quantity, class: "form-control" %>
  </div>
  <%= f.submit "建立" %>
<% end %>    
